nav  {
text-decoration: none;
  display: flex; 
  gap: 20px;
  flex-wrap: wrap;
  flex-grow: 1;
}
.span1 {

  color: #FC842D;
  font-family: Verdana;
  font-size: 17px;
}
.span2 {
  transform: rotate(90deg);
  transform-origin: left center;
  height: 2px;
  color:#E0E0E0; 
  margin-left: 20px;
  margin-right: -40px;
}
.headerDiv {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  padding-top: 80px;
 
}
a {
  text-decoration: none;
}
.logoImg {
  margin-top: -52px;
}
.slimWord {
  margin-left: -16px;
  font-family: Verdana;
  color:#212121;
  font-size: 17px;
}
.link {
  text-transform: uppercase;
  font-weight: 700;
  color: #212121;
  font-size: 14px;
  line-height: 17px;
  font-family: Verdana;
}